body {
    background: linear-gradient(-45deg, #9cc1eb, #283f69);
    margin: 0;
    padding: 0;
}
h1 {color: limegreen;}
img {
    width: 400px;
    align-content: center;
}
#thirdDiv {
    height: 900px;
    width: 550px;
    background-color: greenyellow;
    padding: 50px;
    border: 10px red;
    align-content: center;
    margin: 10px auto;
    padding-bottom: 50px;
}
#spanid {
    font-size: 18px;
    margin: 50px;
}
ul {
    text-align: center;
}
.divclass {
    text-align: center;
}